.signup-wrapper {
  background-color: #f4f6f8;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  max-width: 800px;
}

.custom-navbar {
  background-color: #4CB67A;
}

.custom-footer {
  background-color: #4CB67A;
}

.footer-area i {
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}

.footer-area i:hover {
  color: #dddddd;
}

.navbar .btn-light {
  background-color: rgb(21, 104, 219);
  color: lab(100% 0.01 -0.01);
  border-color:rgb(21, 104, 219);
  font-weight: 500;
  border-radius: 20px;
  padding: 4px 14px;
}

.me-2{
  height: 30px;
  width : 30px;
  border-radius: 30px;
}

.me-2-logo{
  height: 60px;
  width : 150px;
  border-radius: 30px;
}

.home-section {
  padding: 60px 20px;
  background-color: #f0f8f3;
}

/*
.save-btn{
  width: 150px;
  background-color: #ffffff;
}

.save-btn:hover {
  background-color: #10d326;
}*/

 /*About CSS*/

.about-page img {
  max-height: 400px;
  object-fit: cover;
}

.our-values .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.our-values .card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.about-title {
  color: rgb(50, 47, 47) !important;
}

.icon-trust {
  color: #2fe12f;
  font-size: 4.5rem;
}

.icon-innovation {
  color: #FFD700;
  font-size: 4.5rem;
}

.icon-community {
  color: #157ce4;
  font-size: 4.5rem;
}

/*Admin dashboard*/

.admin-dashboard {
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.sidebar .nav-link {
  color: #333;
  padding: 10px 20px;
  font-weight: 500;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  background-color: #f0f0f0;
  border-radius: 4px;
}

.stat-card h5 {
  font-size: 0.9rem;
  color: #666;
}

.stat-card h3 {
  margin-top: 5px;
  font-weight: bold;
}

.chart-placeholder {
  border: 1px dashed #ccc;
}

.progress-bar {
  font-size: 0.8rem;
}

/*Contact*/

.contact-banner {
  height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-banner-overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-banner-overlay h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
}

.contact-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 50px 10%;
}

.contact-left {
  flex: 1;
}

.contact-left h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
  font-family: 'Lora regular';
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #235639;
  box-shadow: 0 0 8px rgba(0, 119, 255, 0.3);
  outline: none;
}

.contact-send-btn {
  padding: 14px;
  font-size: 1.1rem;
  background: #235639;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-send-btn:hover {
  background: #235639;
}

.contact-right {
  flex: 1;
  display: flex;
  flex-direction: column;      
  align-items: center;        
  justify-content: center;      
  gap: 40px;                    
  height: 100%;   
  padding-top: 10px;   
          
}

.contact-info-box {
  display: flex;
  flex-direction: column;   
  align-items: center;       
  justify-content: center;   
  gap: 10px;                 
  background: #f0f0f0;
  padding: 20px;
  border-radius: 12px;
  width: 550px;             
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
  text-align: center;     
}

.contact-info-box:hover {
  transform: translateY(-5px);
}

.contact-info-icon {
  padding-bottom: 5px;
  font-size: 2rem;
  color: #235639;
}

.contact-info-box h4 {
  margin: 0;
  font-size: 1rem;
  color: #333;
  padding-bottom: 5px;
  font-family: 'Ubuntu';
}

.contact-info-box p {
  margin: 0;
  color: #555;
  font-family: 'Roboto';
}

.contact-map-section {
  margin-top: 40px;
  width: 100%;
  display: flex;
  align-items: center;         
  justify-content: center; 
  padding-bottom: 150px;
}

/*services*/

.service-banner {
  height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.services-banner-overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-banner-overlay h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Poppins',bold;
}

.services-Section {
  text-align: center;
  padding-bottom: 40px;
  background: #f9f9f9;
}

.services-topic {
  font-family: 'Lora regular';
  padding-top: 60px;
 text-align: center;
  color: #333;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 50px;
}

.service-item {
  text-align: center;
  padding-bottom: 20px;
}

.services-Image {
  width: 250px;
  height: 250px;
  margin-bottom: 5px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.services-Image:hover {
  transform: scale(1.05);
}

.service-name {
  font-size: 1.3rem;
  color: #222;
  margin: 5px 0;
  font-family: 'ubuntu';
}

.service-description {
  font-size: 0.76rem;
  color: #555;
  margin-bottom: 5px;
  width: 250px;
  font-family: 'Roboto';
  text-align: center;
}

.services-read-more {
  background:#235639; 
  border: none;
  color: white;
  font-size: 0.85rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.services-read-more:hover {
  background: #235639;
  transform: scale(1.05);
}