.signup-wrapper {
  background-color: #f4f6f8;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  max-width: 800px;
}

.custom-navbar {
  background-color: #4CB67A;
}

.custom-footer {
  background-color: #4CB67A;
}

.footer-area i {
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}

.footer-area i:hover {
  color: #dddddd;
}

.navbar .btn-light {
  background-color: rgb(21, 104, 219);
  color: lab(100% 0.01 -0.01);
  border-color:rgb(21, 104, 219);
  font-weight: 500;
  border-radius: 20px;
  padding: 4px 14px;
}

.me-2{
  height: 30px;
  width : 30px;
  border-radius: 30px;
}

.me-2-logo{
  height: 60px;
  width : 150px;
  border-radius: 30px;
}

.home-section {
  padding: 60px 20px;
  background-color: #f0f8f3;
}

/*
.save-btn{
  width: 150px;
  background-color: #ffffff;
}

.save-btn:hover {
  background-color: #10d326;
}*/

 /*About CSS*/

.about-page img {
  max-height: 400px;
  object-fit: cover;
}

.our-values .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.our-values .card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.about-title {
  color: rgb(50, 47, 47) !important;
}

.icon-trust {
  color: #2fe12f;
  font-size: 4.5rem;
}

.icon-innovation {
  color: #FFD700;
  font-size: 4.5rem;
}

.icon-community {
  color: #157ce4;
  font-size: 4.5rem;
}


